# Prerequisites
*.d

# Compiled Dynamic libraries
*.so

# Executables
*.exe
*.out

# linked directories
**/root
**/scripts
**/data
**/figures

# Emacs
*~
\#*#

# Git
*.~*~

# image files
*.pdf
*.png
*.jpg
