# Prerequisites
*.d

# Compiled Dynamic libraries
*.so

# Executables
*.exe
*.out

# Emacs
*~
\#*#

# linked directories
**/root
**/scripts
**/data
**/figures

# temporary Git files
*~*

# image files
*.pdf
*.png
*.jpg